* {
    /* border: solid;  */
    margin: 0; 
    padding: 0; 
}
html {
    font-size: clamp(.5rem, 0.75rem + 1vw, 3rem); 
}
#map { 
    height: 60vh;  width: 100vw; background-color: white; 
    /* border: solid;  */
}

body {
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
    align-items: center;
    flex-direction: column;
    
}
label {
    color: white; 
    font-weight: bold;
    margin-right: .5rem; 
}
input {
    font-size: 1rem;
    border: none; 
}
header {
    background-color: black;
    padding: .5rem; 
    margin-right: auto; 
    width: 100%;
}